* {
margin:0;
padding: 0;
box-sizing: border-box;
}

body {
display: flex;
flex-direction: column;
align-items: center;
margin: 0;
}

header {
display: flex;
align-items: center;
background-color: rgb(82, 152, 96);
flex-direction: column;
width: 100%;
}

.icon {
display: flex;
width: 2.5em;
margin: 3em;
align-self: flex-start;

}

.header {
display: flex;
align-self: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 70px;
}

.ninja-head {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 300px;

}

main {
display: flex;
flex-direction: column;
background-color: rgb(86, 78, 78);
padding: 5rem 20rem 5rem 20rem;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.wrapper1 {
display: grid;
place-items: center;
grid-template-rows: repeat(3, 1fr);
grid-template-columns: repeat(3, 1fr);
width: 100%;
gap: 1rem;
}

article {
margin:2;
padding:2;
}

.wrapper2 {
display: grid;
place-items: center;
grid-template-rows: 1fr;
grid-template-columns: repeat(2, 1fr);
width: 100%;
margin-top: 2rem;;
gap: 2rem;
  }

img {
display:block;
height: auto;
width: 100%;
margin-bottom: rem;

}

.item {
background-color: aliceblue;

}
h2 {
margin-left: 7px;
}

P {
max-width: 80%;
margin-left: 7px;
}

button {
margin-top: 20px;
padding: 10px 20px;
padding: 10px;
background-color:  rgb(82, 152, 96);
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
margin-bottom: 1rem;
margin-left: 7px;
}

footer {
background-color: rgb(82, 152, 96);
display: flex;
align-items: center;
justify-content:space-evenly;
flex-direction: row;
height:180px;
width: 100%;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Nav {
list-style-type: none;
}

.social-media {
 display: flex;
 height: 2rem;
 width: 2rem;
 gap: 10px;
 }

.address {
display: flex;
flex-direction: column;
align-items: center;
 }
